<div class="box">
  <div class="box-body">
    <form action="#">
      <div class="form-group">
        <input class="form-control input-lg" type="text" id="q" placeholder="Search...">
        <ul id="q-results"></ul>
      </div>
    </form>
  </div>
</div>

<div class="box">
  <div class="box-header">
    <h3>Categories</h3>
  </div>

  <div class="box-body">
    <ul>
      <li><a href="/categories#around-me">Around Me</a></li>
      <li><a href="/categories#learn-n-think">Learn & Think</a></li>
      <li><a href="/categories#work-n-play">Work & Play</a></li>
    </ul>
  </div>
</div>

<div class="box">
  <div class="box-header">
    <h3>Tags</h3>
  </div>

  <div class="box-body">
    <div class="tags">
    {% for tag in site.tags %}
      <span style="font-size: {{ tag | last | size  |  times: 4 | plus: 90  }}%">
        <a href="/tags#{{ tag | first | slugize }}">
          {{ tag | first }}
        </a>
      </span>
    {% endfor %}
    </div>
  </div>
</div>

<div class="box">
  <div class="box-header">
    <h3>Recent Posts</h3>
  </div>

  <div class="box-body">
    <ul>
      {% for post in site.posts limit:3 %}
      <li>
        <h4>
          <small class="box-meta"><i class="material-icons">today</i> {{ post.date | date: "%Y-%m-%d" }}</small>
          <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h4>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>

<div class="box">
  <div class="box-header">
    <h3>Facebook Posts</h3>
  </div>

  <div class="box-body">
    <ul>
      <li>
        <h4>
          <small class="box-meta"><i class="material-icons">today</i>post_date_at_facebook</small>
          <a href="facebook_post_url">Coming soon...</a>
        </h4>
      </li>
    </ul>
  </div>
</div>
